/db_data
/db_data/*
/kizen
/kizen/*
.env
.aws.env
/ui-frontend/node_modules/*
/ui-frontend/.env.local
/ui-frontend/.env.development.local
/ui-frontend/.env.test.local
/ui-frontend/.env.production.local
/ui-frontend/.next
/ui-frontend/out
/ui-frontend/build
/infra/.terraform/*
/infra/.terraform.lock.hcl
/infra/.terraform/*
/infra/terraform.tfvars
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
.DS_Store
.vscode/*